<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>loclt.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loclt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>loclt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpServlet</servlet-name>
        <servlet-class>loclt.servlet.StartUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>loclt.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>loclt.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameCategoryServlet</servlet-name>
        <servlet-class>loclt.servlet.SearchNameCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementServlet</servlet-name>
        <servlet-class>loclt.servlet.ManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>loclt.servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>loclt.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreProductServlet</servlet-name>
        <servlet-class>loclt.servlet.StoreProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>loclt.servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>loclt.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveShoppingServlet</servlet-name>
        <servlet-class>loclt.servlet.RemoveShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShoppingServlet</servlet-name>
        <servlet-class>loclt.servlet.UpdateShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProductServlet</servlet-name>
        <servlet-class>loclt.servlet.OrderProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>loclt.servlet.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsHistoryServlet</servlet-name>
        <servlet-class>loclt.servlet.DetailsHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>loclt.servlet.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageServlet</servlet-name>
        <servlet-class>loclt.servlet.UpdateImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateImageServlet</servlet-name>
        <servlet-class>loclt.servlet.CreateImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleServlet</servlet-name>
        <servlet-class>loclt.servlet.GoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>loclt.servlet.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpServlet</servlet-name>
        <url-pattern>/StartUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameCategoryServlet</servlet-name>
        <url-pattern>/SearchNameCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementServlet</servlet-name>
        <url-pattern>/ManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreProductServlet</servlet-name>
        <url-pattern>/StoreProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveShoppingServlet</servlet-name>
        <url-pattern>/RemoveShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShoppingServlet</servlet-name>
        <url-pattern>/UpdateShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProductServlet</servlet-name>
        <url-pattern>/OrderProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsHistoryServlet</servlet-name>
        <url-pattern>/DetailsHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageServlet</servlet-name>
        <url-pattern>/UpdateImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateImageServlet</servlet-name>
        <url-pattern>/CreateImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleServlet</servlet-name>
        <url-pattern>/GoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            DispatcherServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
